# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

.vs/
obj/

# Visual Studio
bin/
/bin/
/obj/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# C# and .NET build outputs
**/bin/
**/obj/
*.dll
*.pdb
*.exe
*.cache
*.json
*.props
*.targets
*.sourcelink.json
*.csproj.FileListAbsolute.txt
*.nuget.*
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.genruntimeconfig.cache
*.refint/


