/* Fondo oscuro tipo modal */
.wizard-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

/* Contenedor blanco del wizard */
.wizard-container {
    width: 100%;
    max-width: 520px;
    padding: 1.5rem 0;
}

/* Títulos */
.wizard-container h2 {
    color: #111;
    margin-bottom: 1rem;
}

/* Inputs */
.wizard-container input,
.wizard-container textarea,
.wizard-container select {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    background: #fff;
    color: #111;
}

/* Textarea */
.wizard-container textarea {
    resize: vertical;
    min-height: 80px;
}

/* Fix Stepper content padding */
.step-default {
    padding: 0 2rem;
}

.wizard-label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0 6px;
    color: #333;
}

.imagenes-preview {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.wizard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wizard-close {
    background: none;
    border-radius: 9999px;
    font-size: 15px;
    cursor: pointer;
    color: #4B0082;
    border: 1px solid gray;
    margin-bottom: 3%;
}

.wizard-close:hover {
    color: white;
}

.tiempo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tiempo-container input {
    width: 100%;
    max-width: 120px;
    text-align: center;
}

.leaflet-container {
    z-index: 0;
}

.btn-location {
    border-radius: 6px;
}

/* === React Select - Wizard === */

.wizard-select__control {
    border-radius: 8px;
    border: 1px solid #ddd;
    min-height: 38px;
    font-size: 14px;
    box-shadow: none;
}

.wizard-select__control--is-focused {
    border-color: #5227ff;
    box-shadow: 0 0 0 1px rgba(82, 39, 255, 0.2);
}

.wizard-select__value-container {
    padding: 2px 10px;
}

.wizard-select__placeholder {
    color: #999;
    font-size: 14px;
}

.wizard-select__single-value {
    color: #111;
    font-size: 14px;
}

.wizard-select__menu {
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    overflow-y: hidden;
    z-index: 3000;
}


.wizard-select__option {
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
}

.wizard-select__option--is-focused {
    background-color: #f3f4f6;
}

.wizard-select__option--is-selected {
    background-color: #5227ff;
    color: #fff;
}

.wizard-select__clear-indicator {
    cursor: pointer;
}

.wizard-select__dropdown-indicator {
    color: #666;
}

/* Ajuste para que tenga mismo margen que inputs */
.wizard-select {
    margin-bottom: 12px;
}

.wizard-select__menu-list{
    max-height: 150px !important;
}